#MainContainer {
    padding: 20px;
}
#product-container .card{
    margin: 10px;
    position: relative;
}
#product-container .card .img-fluid{
    opacity: 60%;
}
#product-container .card .card-body{
    position: absolute;
    margin: 0;
    padding: 20px;
    bottom: 0;
}
#product-container .card .card-body .text-decoration-none{
    font-size: .8em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#product-container .card .card-body .text-decoration-none:hover{
    color: red;
    font-weight: 600;
    
}
#product-container .card .card-body .year {
    position: absolute;
    font-size: .7em;

}
#MainContainer .row .col-lg-8{
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.252);
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
    border-top: 1px solid rgba(255, 255, 255, 0.252);
    padding: 10px;
    margin: 0;
}
#MainContainer .row .col-lg-4{
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.252);
    border-top: 1px solid rgba(255, 255, 255, 0.252);
    padding: 10px;
    margin: 0;
}

#MainContainer .row .col-lg-8 #hindi-movie{
    padding: 10px;
}
#MainContainer .row .col-lg-8 .hindi-subtitle .title, .letest-movies .title{
    padding: 3px;
    border-left: solid 2px red;
    
}
#hindi-movie .card {
    background-color: #2a2c3b;
}
#hindi-movie .card .text .card-text{
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: .7em;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#hindi-movie .card .text{
    overflow: hidden;
}
#hindi-movie .card .text .card-text:hover{
    color: red;
}
#hindi-movie .card{
    padding: 6px;
    margin-right: 10px;
}
#MainContainer .row .col-lg-8 .letest-movies .row .col .card{
    background-color: #2a2c3b;
    padding: 10px;
}
#MainContainer .row .col-lg-8 .letest-movies .row .col .card .text .card-text{
    white-space: nowrap; 
    padding: 1px;
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: .9em;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#MainContainer .row .col-lg-8 .letest-movies .row .col .card .text{
    overflow: hidden;
}
#MainContainer .row .col-lg-8 .letest-movies .row .col .card .text .card-text:hover{
    color: red;
}
#MainContainer .row .col-lg-8 .letest-movies .row .col .card .text .sal{
    font-size: .7em;
    padding-left: 2px;
    opacity: 60%;
}
#MainContainer .row .col-lg-8 .vlog{
    display: flex;
    justify-content: space-between;
}
#MainContainer .row .col-lg-8 .vlog .title1{
    padding: 3px;
    border-left: solid 2px red;
}
#MainContainer .row .col-lg-8 .vlog .title2{
    font-size: .8em;
    color: red;
    font-weight: 600;
    text-decoration: none;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col {
    display: flex;
    justify-content: space-between;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col .title{
    font-size: 1.3em;
    cursor: pointer;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col .about{
    opacity: 60%;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col .date{
    text-align: center;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col .date .day{
    font-size: 1.3em;
    color: red;
}
#MainContainer .row .col-lg-8 .vlog-container .row .col .date .mount{
    font-size: .8em;
    opacity: 60%;
    letter-spacing: 2px;
}


